<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name ="Google_Data">
      <section name="OAuth_config" type="System.Configuration.DictionarySectionHandler"/>
      <section name ="Scopes" type ="System.Configuration.DictionarySectionHandler"/>
    </sectionGroup>
  </configSections>
  
  <Google_Data>  
    <OAuth_config>
      <add key="Client_ID" value="your client ID"/>
      <add key="Client_secret" value="your client secret"/>
      <add key="Redirect_URI" value="urn:ietf:wg:oauth:2.0:oob"/>
    </OAuth_config>
    
    <Scopes>
      <add key="Google_Spreadsheets_API" value="https://spreadsheets.google.com/feeds"/>
      <add key="Google_Documents_Lists_API" value="https://docs.google.com/feeds"/>
    </Scopes>
    
  </Google_Data>
</configuration>